.main {
  background-color: white;
  border-bottom: 1px solid #d1d5da;
  padding: 0px 10px 10px;
  cursor: pointer;
  margin: 0px 30px;
}

.main:hover {
  background-color: #e0e3e7;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-space-around {
  justify-content: space-around;
}

.info-item {
  margin: 0px 5px;
  padding: 5px;
  border: 1px solid #7b7f86;
  border-radius: 5px;
  color: #40484c;
  display: flex;
  align-items: center;
}

.info-item span {
  margin-left: 5px;
}

.state-map {
  display: relative;
}
